<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>OldMansBookClub.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>buildNumber</key>
			<string>1</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>79010D91CD8BCCD1E2484C2475BA8EAF91A2A92A</string>
				<key>dateExpires</key>
				<string>5/6/27</string>
				<key>type</key>
				<string>Cloud Managed Apple Distribution</string>
			</dict>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>BCH6CDU76R.com.markleit.oldmansbookclub</string>
				<key>aps-environment</key>
				<string>production</string>
				<key>com.apple.developer.applesignin</key>
				<array>
					<string>Default</string>
				</array>
				<key>com.apple.developer.team-identifier</key>
				<string>BCH6CDU76R</string>
				<key>get-task-allow</key>
				<false/>
			</dict>
			<key>name</key>
			<string>OldMansBookClub.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>b0136cdd-ff76-469b-83fe-39977ba2c24c</string>
				<key>dateExpires</key>
				<string>5/6/27</string>
				<key>name</key>
				<string>iOS Team Ad Hoc Provisioning Profile: com.markleit.oldmansbookclub</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>BCH6CDU76R</string>
				<key>name</key>
				<string>Mark Leiter</string>
			</dict>
			<key>versionNumber</key>
			<string>1.0</string>
		</dict>
	</array>
</dict>
</plist>
