<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>NSAppTransportSecurity</key>
    <dict>
        <key>NSAllowsLocalNetworking</key>
        <true/>
    </dict>
    <key>NSMicrophoneUsageDescription</key>
    <string>Used for sending voice messages.</string>
    <key>NSCameraUsageDescription</key>
    <string>Used for taking photos to share in discussions.</string>
    <key>NSPhotoLibraryUsageDescription</key>
    <string>Used for sharing photos in discussions.</string>
</dict>
</plist>
